alabaster==0.7.9
aniso8601==1.2.0
autodoc==0.3
Babel==2.3.4
beautifulsoup4==4.5.3
cffi==1.9.1
click==6.7
cryptography==1.7.2
decorator==4.0.11
docutils==0.13.1
Flask==0.12
Flask-Ask==0.8.7
idna==2.2
imagesize==0.7.1
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
pyasn1==0.2.1
pycparser==2.17
Pygments==2.2.0
pyOpenSSL==16.2.0
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
requests==2.13.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.2
sphinx-autodoc-typehints==1.1.0
sphinx-rtd-theme==0.1.9
waitress==1.0.2
WebOb==1.7.1
WebTest==2.0.25
Werkzeug==0.11.15
wheel==0.24.0
